.pag-sobre{
    height: 100vh;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.objetos-sobre{
    display: flex;
    justify-content: center;
    align-items: center;

}
.dragon-slayer{
    width: 400px;
    margin: 0 2em;
}
.conteudo-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 10em;
}
.titulo-sobre{
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: .5em;
}
.text-sobre{
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 300;
}
.linha-img{
    position: absolute;
    width: 1050px;
    top: 1300px;
  }