.pag-contatos {
  width: 100%;
  align-items: center;
  background-color: var(--cor-fundo);
}

.pro-cert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pro-cert-nlinha {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projeto,
.certificado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-projeto,
.titulo-certificado {
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  font-size: 48px;
  font-weight: 500;
  margin: 2em 0 1em 0;
}

.img-projeto,
.img-certificado {
  width: 120px;
}

.adaga-1 {
  width: 300px;
}

.contatos {
  margin: 10em 0;
  display: flex;
  justify-content: space-around;
}

.titulo-contatos {
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 1em 0;
}

.imgs-conts {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.img-contatos-1,
.img-contatos-2 {
  width: 50px;
}

.frase {
  margin-top: 1em;
  width: 500px;
}

.text-frase {
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
  font-size: 24px;
  font-weight: 300;
}

.skull {
  margin-left: 237px;
  width: 500px;
}

.aspas-1 {
  width: 30px;
  margin-bottom: 10px;
}

.aspas-2 {
  margin-left: 500px;
  width: 30px;
}

.linha-img3 {
  margin: 50px 0;
  width: 95%;
}
