.pag-inicial{
    background: var(--cor-fundo) url(../static/blood-background\ 1.svg) no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .objetos-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foto-eu{
    width: 150px;
    border-radius: 999px;
    margin: 1rem;
  }
  .titulo-nome{
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 500;
    margin: .5rem
  }
  .categoria-nome{
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fonte-principal);
  }