@import url(./css/pag-inicial.css);
@import url(./css/pag-sobre.css);
@import url(./css/pag-skills.css);
@import url(./css/pag-contatos.css);


:root{
  --cor-principal: #dc2011;
  --cor-secundaria: #efdfc5;
  --cor-fundo: #252f2f;
  --fonte-principal: 'Righteous';
  --cor-linha: #4C4F54;
}
*{
  margin: 0;
  padding: 0;
}

